html{scroll-behavior: smooth;}
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(218, 148, 148);
   
}
i{
    color: white;
}

.icon-asid{
    left: 20;
    bottom: 20px;
}

.headg{
    height: 10000px;
}

